*{
margin:0;
padding:0;
font-family: 'Poppins', sans-serif;
}





.header{

    min-height:100vh ;

    width: 100%;

    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,.7)),url(images/banner.png);

    background-position: center;
    background-size:cover;
    position:relative;
}


nav{
    display: flex;
    padding:2%  6%;
    justify-content: space-between;
    align-items: center;
}


nav img{
    width:150px;
}

.nav-links{

    flex:1;
    text-align: right;
}


.nav-links ul li{
list-style:none;
display:inline-block;
padding:8px  12px;
position: relative;
transition: 1s;
}


.nav-links ul li  a  {
    color:#fff;
    text-decoration: none;
    font-size: 13px;

}



.nav-links ul li::after{

content:"";
width:0%;
height:2px;
background:#f44336;
display:block;
margin:auto;



}






ul.hover li a:hover{

    background-color:blue;
    color:red;
}





.textbox{
width:90%;
color:#fff;
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
text-align:center;

}



.textbox h1{

    font-size: 60px;

}





.text-box p  {
    margin:10px 0 40px;
    font-size: 60px;
    color:#fff;
}




.hero{
    display:inline-block;
    text-decoration: none;
    color:#fff;
    border:1px solid #fff;
    padding: 12px 34px;

    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}



.hero:hover{
    border:10px solid #f44336;
    background: #f44336;
    transition: 1s;
}




nav  .fa {

    display: none;

}



@media(max-width:700px){
    .textbox h1{
        font-size: 20px;

    }
    

    .nav-links ul li{
        display: block;
    }


    .nav-links {

position:absolute;
background: #f44336;
height:100vh;
width:200px;
top:0;
right:-200;
text-align: left;
z-index: 2;
    }



    
nav .fa{
    display:block;
    color:white;
    margin:10px;
    font-size: 22px;
    cursor: pointer;
}


.nav-links ul{

    padding:30px;

}

ul.hover li.dropdown{


    display:block;
    float:right;
    
}



} 

/*------course*/

.course{

    width:80%;
    margin:auto;
    text-align: center;
    padding-top:100px;

}

h1{
color:black ;
    font-size: 36px;
}


.row{


    margin-top:5%;
    display: flex;
justify-content: space-between;

}




.course-col{

flex-basis: 31%;
background:#fff3f3 ;
border-radius: 10px;
margin-bottom: 20px 12px;
box-sizing:border-box ;
}



h3{
    text-align: center;
    font-weight: 600;
    margin:10;
}



.course-col:hover{
    box-shadow: 0 0 20px 0px  rgba(0,0,0,.2);
}
@media( max-width:700px){

    .row{

        flex-direction: column;
    }
}

@media(max-width:700px){
    .cta h1{
        font-size: 24px;
    }


}



/*Campus------*/


.campus{
    width:80px;
    margin:auto;
    text-align: center;
    padding-top: 50px;

    display: inline;
}

.campus-col{

flex-basis: 32%;
    
    border-radius: 10px;
    margin-bottom: bottom;
    position: relative;
    overflow: hidden;

}

.campus-col img{

display: block;
    width: 100%;


}

.layer{

    background:transparent ;
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    transition: 0.5s;
}

.layer:hover{

    background: rgba(226,0,0,0.7);

}

.layer h3{


    width:100%;
    font-weight: 500;
    color:#fff;

    font-size: 26px;
    bottom: 0;
    left:50%;
    transform:translateX(-50%);
position: absolute;
}


.layer:hover h3{
    bottom:49%;
    bottom:1;
}



.facilities{
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top: 100px;
}




.facilities-col{
flex-basis: 31%;
border-radius: 10px;
margin-bottom: 5%;
}




.facilities-col img{
     width:100%;
     border-radius: 10px;
}



.facilities-col p{
    padding:0;
}


.facilities-col h3{
  margin-top: 16px;
margin-bottom:15px ;
text-align: left;
}





.testimonials{

width:80%;
margin:auto;
padding-top: 100px;
text-align: center;

}


.testimonial-col{

    flex-basis: 44%;
    border-radius:10px;
    margin-bottom:5%;
    text-align: left;
    background:#fff3f3 ;
    padding:25px;
    cursor: pointer;
    display:flex;
}

.testimonial-col img{
height:40px;
margin-left:30px;
margin-right:30px;
border-radius: 50%;
}

.testimonial-col h3{

    margin-top: 15px;

    text-align:left ;
}

testimonial-col p{
    padding: 0;
}

.testimonial-col .fa{
    color:#f44;
}


@media(max-width:700px){

    .testimonial-col img{
        height:40px;
        margin-left:0px;
        margin-right:15px;

        }
        


}


.cta{

margin: 100px  auto;
width:80%;
background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner2.jpg);
background-position: center;
background-size: cover;
border-radius: 10px;
text-align: center;
padding: 100px 0;
    
}


.cta h1{
color:#fff;
margin-bottom: 40px;
padding:0;


}




.footer{

    width:100%;
    text-align: center;
    
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/background.jpg);
}

.footer h4{

    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600px;

}

.icons .fa{
    color:red;
    margin:0 13px;
    cursor:pointer;
    padding:18px 0;
}

.fa-heart-o{

    color:red;
    
}
